@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  width: 940px;
  margin: 0 auto;
}

.header {
  padding: 30px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eaf3fa;
}
.header__title {
  font-size: 2em;
  color: #2a4791;
}
.header__list {
  display: flex;
}
.header__item {
  margin-left: 1.5em;
  font-size: 1em;
  text-decoration: none;
}
.header__link {
  text-decoration: none;
  color: #f78d49;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 3em;
  color: #2a4791;
}

.main__header {
  margin-bottom: 1em;
}

.main__h1 {
  font-size: 2em;
}
.main__p {
  font-size: 1em;
}
.main__a {
  text-decoration: none;
  color: #f78d49;
}

.quemsomos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2a4791;
}

.quemsomos__h2 {
  font-size: 1.5em;
}

.quemsomos__p {
  font-size: 1em;
  margin-top: 1em;
}

.servicos__h2 {
  color: #2a4791;
}
.servicos__header {
  margin-bottom: 2em;
}
.servicos__list {
  background: #2a4791;
  padding: 3em;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.servicos__p {
  color: #ffffff;
  margin-top: 3em;
  font-size: 1em;
}
.servicos__a {
  text-decoration: underline;
  color: #f78d49;
}

.planos {
  display: flex;
  justify-content: space-around;
  margin: 3em auto;
}

.planos__plano {
  border: 1px solid #2a4791;
  padding: 1em;
  color: #2a4791;
}
.planos__title {
  font-size: 1.2em;
  padding-bottom: 1em;
}

.planos__item {
  font-size: 1em;
}
.planos__item:last-child {
  margin-bottom: 1em;
}
.planos__item::before {
  content: "- ";
}
.planos__a {
  background: #2a4791;
  color: #eaf3fa;
  padding: 8px 32px;
  border-radius: 30px;
  font-size: 0.8em;
}

.footer {
  font-size: 1em;
  text-align: center;
  padding: 2em;
  background: #2a4791;
  color: #eaf3fa;
}

.footer__p {
  margin-bottom: 1em;
}
.footer__p:last-child {
  margin-bottom: 0;
}
